.bottombar, .topbar {
    position: absolute;
    width: 100vw;
    padding: .5rem;
    z-index: 100;
}
.bottombar, .center, .left, .main, .right {
    display: -ms-flexbox;
    display: flex;
}
* {
    transition-property: background-color;
    transition-duration: .5s;
}
.s-card, body, html {
    overflow: hidden;
}
hr {
    border-bottom: none;
}
.bottombar {
    -ms-flex-pack: justify;
        justify-content: space-between;
    bottom: 0;
}
.main {
    height: 90vh;
    padding: 0 2rem 2rem 2rem;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: stretch;
        align-items: stretch;
}
.padding {
    padding: 1.5rem;
}
.center {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
}
.left {
    -ms-flex-pack: left;
        justify-content: left;
    -ms-flex-align: center;
        align-items: center;
}
.right {
    -ms-flex-pack: right;
        justify-content: right;
    -ms-flex-align: center;
        align-items: center;
}
.send {
    border-radius: 1rem 0 1rem 1rem;
    padding: .5rem;
}
.recieve {
    border-radius: 0 1rem 1rem;
    padding: .5rem;
}
.br {
    height: 10px;
    width: 10px;
}
img {
    max-width: 100%;
    max-height: 50vh;
}
iframe {
    width: 100%}
.message {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeIn {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}.stack {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}.stack > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.stack>* {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1/1/1;
}
.crown {
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.confetti {
    width: 100%;
    max-height: 40vh;
    height: auto;
}
.preload {
    width: 0;
    height: 0;
}
.inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}
.grow {
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.hidden {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}
.f-h{
    height: 100vh;
}